body {
  background-color: bisque;
}

h1 {
  text-align: center;
  color: rgb(185, 0, 0);
}

p {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.links {
  text-align: center;
}
