body {
  background-color: bisque;
}

h1 {
  text-align: center;
  color: rgb(185, 0, 0);
}

p {
  text-align: center;
}

img {
  max-width: 400px;
  display: block;
  border-radius: 5px;
}

.links {
  text-align: center;
}
